<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>page4</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-card>
        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/avatar1.png" >
          </ion-avatar>
          <ion-label><h3>Chaker BM</h3><p>Dec 10,2020</p></ion-label>
        </ion-item>
        <img src="assets/react.jpg" alt="ion">
        <ion-card-header>
          <ion-card-title>React JS</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          React est une bibliotheque JavaScript .....
        </ion-card-content>
        <ion-footer>
          <ion-row>
            <ion-col>
              <ion-button>
                <ion-icon slot="start" name="thumbs-up-outline"></ion-icon>
                12 Likes
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button>
                <ion-icon slot="end" name="document-text-outline"></ion-icon>
                4 Comments
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-footer>
      </ion-card>

    </ion-item>
      <ion-item>
        <ion-card>
          <ion-item>
            <ion-avatar slot="start">
              <img src="assets/avatar1.png" >
            </ion-avatar>
            <ion-label><h3>Chaker BM</h3><p>Dec 10,2020</p></ion-label>
          </ion-item>
          <img src="assets/angular1.png" alt="ion">
          <ion-card-header>
            <ion-card-title>Angular JS</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Angular est une bibliotheque JavaScript .....
          </ion-card-content>
          <ion-footer>
            <ion-row>
              <ion-col>
                <ion-button>
                  <ion-icon slot="start" name="thumbs-up-outline"></ion-icon>
                  180 Likes
                </ion-button>
              </ion-col>
              <ion-col>
                <ion-button>
                  <ion-icon slot="end" name="document-text-outline"></ion-icon>
                  200 Comments
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-footer>
        </ion-card>
  
      </ion-item>







  </ion-list>
</ion-content>