<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>page5</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <h1>connexion Admin(ENIG)</h1>
    </ion-item>
    <ion-item>
      <img src="assets/cnx.png"/> 
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" placeholder="password"></ion-input>
    </ion-item>
    <ion-button color="primary" expand="full">sign IN</ion-button>
  </ion-list>

</ion-content>
