<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>page4</ion-title>
  </ion-toolbar>
</ion-header>
<ion-list>
  <ion-item>
    <ion-avatar slot="start">
      <img src="assets/avatar1.png" />
    </ion-avatar>
    <ion-label>
      <h1>Chaker BM</h1>
      <h3>GCR-ENIG</h3>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <img src="assets/avatar1.png" />
    </ion-avatar>
    <ion-label>
      <h1>Ikbel AZ</h1>
      <h3>GCR-ENIG</h3>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <img src="assets/avatar1.png" />
    </ion-avatar>
    <ion-label>
      <h1>Abdelhak MS</h1>
      <h3>GCR-ENIG</h3>
    </ion-label>
  </ion-item>
</ion-list>
<ion-content>

</ion-content>
