<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Test707
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button expand="full" color="primary" (click)="aller1()">EXEMPLE (LES LISTES)</ion-button>
  <ion-button expand="full" color="light" (click)="aller2()">EXEMPLE (LES CARDS)</ion-button>
  <ion-button expand="full" color="success" (click)="aller3()">EXEMPLE (LOGIN)</ion-button>
  <ion-button expand="full" color="danger" (click)="aller4()">EXEMPLE (INSCRIPTION)</ion-button>
</ion-content>
